{% set url = props.url or '' %}
{% set content = props.content or '' %}
{% set element = 'a' if url else 'button' %}

<{{ element }}
  {% if url %}
  href="{{ url }}"
  {% endif %}
  class="button"
>
  {{ content|safe }}
</{{ element }}>
