{% set src = props.src or '' %}
{% set alt = props.alt or '' %}
{% set height = props.height or 0 %}
{% set width = props.width or 0 %}
{% set aspectRatio = (height/width or 0)*100 %}
{% set class = props.class or '' %}

{%- set optionsString -%}
  {%- if height -%}
    h_{{ height }},
  {%- endif -%}
  {%- if width -%}
    w_{{ width }},
  {%- endif -%}
{%- endset -%}

{{site.url}}

{# TODO: srcset #}
{# TODO: use site.url #}
<div class="cloudinary-image image {{ class }}">
  <div
    class="image-wrapper"
    style="
      padding-bottom: {{ aspectRatio }}%
    "
  >
    <img
      src="https://res.cloudinary.com/dcelqcs5j/image/fetch/{{- optionsString if optionsString else '' -}}f_auto,c_fill/https://www.matsuko.ca/assets{{ src }}"
      alt="{{ alt }}"
      {%- if width -%}
        width="{{ width }}"
      {%- endif -%}
      {%- if height -%}
        height="{{ height }}"
      {%- endif -%}
    />
  </div>
</div>
