<header class="header">
  <div class="container">
    <a href="/" class="logo">
      m<span class="sr-only">atsuko</span>.<span class="sr-only">ca</span>
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li>
          <a href="#">Link</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
