  <head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ site.title }}</title>
    <meta name="description" content="{{ description or site.description }}" />
    <link data-vue-tag="ssr" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700&amp;display=swap">
    <link rel="stylesheet" type="text/css" href="/assets/styles/index.css" />
    <meta data-vue-tag="ssr" data-key="viewport" name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    {% favicons './src/favicon.png' %}
    {# TODO: SEO stuff
      - images
      - social media
      - RSS
    #}
  </head>
