  <head>
    <meta charset="utf-8">
    <title>{{ title }} | {{ site.title }}</title>
    <meta name="description" content="{{ description or site.description }}" />
    {# TODO: SEO stuff
      - favicon
      - images
      - social media
      - RSS
    #}
  </head>
