{% import 'components/index.njk' as components %}

{# TODO: format date #}
{% set introProps = {
  title: title,
  description: formattedDate
} %}

{% set cloudinaryImageProps = {
  src: image.path,
  alt: image.alt,
  width: image.width,
  height: image.height,
  class: 'cover-image'
} %}

{% set bannerProps = {
  headline: 'Get in touch!',
  subheadline: 'Want to work together? Have a burning question or thoughtful comment?',
  body: 'Send me an email to start the conversation!',
  url: 'mailto:hello@matsuko.ca',
  cta: 'Email me'
} %}

<!DOCTYPE html>
<html lang="en">
  {% include "components/head.njk" %}
  <body>
    {% include "components/header.njk" %}

    <main>
     <article>
        {{ components.render('intro', introProps) }}

        <div class="container container--narrow">
          {% if image.path %}
            <figure class="cover">
              {{ components.render('cloudinaryImage', cloudinaryImageProps) }}
              {% if image.caption %}
                <figcaption class="cover-caption">
                  {{ image.caption|safe }}
                </figcaption>
              {% endif %}
            </figure>
          {% endif %}

          <div class="rich-text">
            {{ content|safe }}
          </div>
        </div>
      </article>

      {{ components.render('banner', bannerProps) }}
    </main>

    {% include "components/footer.njk" %}
  </body>
</html>
