.intro {
  text-align: center;
  padding: var(--spacing-xxl) 0;
}
.intro .image {
  width: 100px;
  border-radius: var(--spacing-xs);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-gray-extra-light);
  overflow: hidden;
  display: inline-block;
}
.intro p {
  font-size: larger;
  color: var(--color-gray-dark);
}
.details {
  font-size: smaller;
  margin: var(--spacing-lg) auto 0;
  max-width: 300px;
}
.details h3 {
  margin-bottom: var(--spacing-xs);
}
.details ul {
  margin: 0;
}
.details li {
  display: inline-block;
  padding: 0 var(--spacing-xs);
}
.details h3 {
  color: var(--color-gray-dark);
}
