---
title: Blog
layout: layouts/default.njk
---

{% import 'components/index.njk' as components %}

{% set details %}
  <p>Blog posts will go here</p>
{% endset %}

{% set props = {
  title: title,
  description: 'Things I\'ve written.',
  details: details
} %}

{{ components.render('intro', props) }}

{% for blogPost in collections.blogPosts %}
  {{ components.render('card', {
    headline: blogPost.data.title,
    subheadline: blogPost.data.subheadline,
    url: blogPost.url,
    src: blogPost.data.image.path
  }) }}
{% endfor %}
