---
title: Portfolio
layout: layouts/default.njk
---

{% import 'components/index.njk' as components %}

{% set details %}
  <p>Portfolio items will go here</p>
{% endset %}

{% set props = {
  title: title,
  description: 'Things I\'ve made.',
  details: details
} %}

{{ components.render('intro', props) }}

{% for portfolioItem in collections.portfolioItems %}
  {{ components.render('card', {
    headline: portfolioItem.data.title,
    subheadline: portfolioItem.data.subheadline,
    url: portfolioItem.url,
    src: '/assets/' + portfolioItem.data.image
  }) }}
{% endfor %}
