---
permalink: styles.css
---
{% include 'styles/variables.css' %}
{% include 'styles/base.css' %}
{% include 'styles/layout.css' %}

{# TODO: include all .css in _components #}
{% include 'styles/components/banner.css' %}
{% include 'styles/components/block-embed.css' %}
{% include 'styles/components/button.css' %}
{% include 'styles/components/card.css' %}
{% include 'styles/components/cloudinary-image.css' %}
{% include 'styles/components/excerpt.css' %}
{% include 'styles/components/footer.css' %}
{% include 'styles/components/grid.css' %}
{% include 'styles/components/header.css' %}
{% include 'styles/components/intro.css' %}


{% include 'styles/utilities.css' %}
