.container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.container--narrow {
  max-width: var(--container-narrow-max-width);
}

.container--extra-narrow {
  max-width: var(--container-extra-narrow-max-width);
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* REF: https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */

.list-reset li {
  list-style-type: none; /* remove bullets */
}

.list-reset li:before {
  content: '\200B'; /* add zero-width space */
  position: absolute; /* addition */
}

.nested-link {
  position: relative;
}

.nested-link a::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.rich-text > *:not(:last-child) {
  margin-bottom: var(--spacing-md);
}

/*
  TODO: Use `:is()` selector when autoprefixer plugin is available:
  https://github.com/postcss/postcss-selector-matches/issues/19
*/
.rich-text h1:not(:first-child),
.rich-text h2:not(:first-child),
.rich-text h3:not(:first-child),
.rich-text h4:not(:first-child),
.rich-text h5:not(:first-child),
.rich-text h6:not(:first-child) {
  margin-top: var(--spacing-xl);
}

.rich-text img {
  width: 100%;
  height: auto;
}

.rich-text blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: var(--spacing-xs) var(--spacing-md);
  border-left: 4px solid var(--color-gray-light);
}

.rich-text iframe {
  background-color: var(--color-gray);
  border-radius: var(--spacing-xs);
}
