.container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.container--narrow {
  max-width: var(--container-narrow-max-width);
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.nested-link {
  position: relative;
}

.nested-link a::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.rich-text > *:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

/*
  TODO: Use `:is()` selector when autoprefixer plugin is available:
  https://github.com/postcss/postcss-selector-matches/issues/19
*/
.rich-text h1:not(:first-child),
.rich-text h2:not(:first-child),
.rich-text h3:not(:first-child),
.rich-text h4:not(:first-child),
.rich-text h5:not(:first-child),
.rich-text h6:not(:first-child) {
  margin-top: var(--spacing-lg);
}
