:root {
  --color-primary: #222;
  --color-secondary: #FFF;
  --color-black: #222;
  --color-white: #FFF;
  --color-gray-extra-light: #EEE;
  --color-gray-light: #CCC;
  --color-gray: #BBB;
  --color-gray-dark: #949494;

  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 30px;
  --spacing-xl: 40px;
  --spacing-xxl: 60px;

  --box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.1);

  --container-max-width: 900px;
  --container-narrow-max-width: 700px;
  --container-extra-narrow-max-width: 600px;
}
